@import "tailwindcss";
@import "vue3-toastify/dist/index.css";

:root {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;
}