<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_styles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .code {
            font-weight: bold;
            color: #111;
        }

        a {
            color: #007bff;
            text-decoration: underline;
        }

    </style>
</head>
<body>

<div style=" margin-top: 20px;font-size: 14px;color: #777777;" th:fragment="tr_footer">
    <p> 由 <a th:href="${siteUrl}" th:text="${siteName}"/> 自动发送，请勿直接回复。</p>
    <p>如果您意外收到此邮件，请忽略。</p>
</div>


</body>
</html>
